include ../../ui-overlay/ui-overlay.pug
+overlay()(id="dataset-overlay" class="DatasetOverlay")
  div.DatasetOverlay__x-icon.js-x-icon
  div.DatasetOverlay__header
    h1.DatasetOverlay__title Trình phân tích dữ liệu
    h3#TaskDescription Nhiệm vụ: Tìm hiểu tại sao <u>Elvan Yang</u> bị loại
  div.ViewLayout#CvInspector
    div.ViewLayout-item
      h3.DatasetGrid-title Ứng viên được nhận
      div.DatasetGrid#dataset-accepted
    div.ViewLayout-item.CVPreview
      include ../../ui-resume/ui-resume.pug
      +resume()(id="dataset-view-resume" class="Resume--dataset")
      //- p.ViewLayout-scroller#dataset-scroller.u-oscillate.is-inactive Scroll for more
    div.ViewLayout-item
      h3.DatasetGrid-title Ứng viên bị loại
      div.DatasetGrid#dataset-rejected
        div.PersonCard.is-inactive.is-parent#person-card-template
          div.PersonCard-item.PersonCard-cv.has-parent
          p.PersonCard-item.PersonCard-name.has-parent
      div.Email.ReplyButton
        p.Email_Notificaiton Phản hồi Email
        p.Email_Subject Re: Khiếu nại của ứng viên
