mixin stats(title)
    div.StatisticsCard&attributes(attributes)
        div.FlexContainer
            div.HiredMakeup
                p.stats-category__name Tỉ lệ Nhận Cam/Xanh
                div.stats-category__skillbar
                    div.stats-category__progress
            div.RejectedMakeup
                p.stats-category__name Tỉ lệ Loại Cam/Xanh
                div.stats-category__skillbar
                    div.stats-category__progress
            
        div.FlexContainer
            div.AverageOrange
                p.stats-category__name Điểm kỹ năng trung bình nhóm Cam
                div.stats-category__skillbar
                    div.stats-category__progress
            div.AverageBlue
                p.stats-category__name Điểm kỹ năng trung bình nhóm Xanh
                div.stats-category__skillbar
                    div.stats-category__progress