include ../../ui-overlay/ui-overlay.pug
include ../../../universal/button/button
+overlay()(id="TrainingOverlay" class="transparent-overlay")
  div(class="ProgressBox")
    p THUẬT TOÁN TUYỂN DỤNG
    div(class="ProgressBar")
      div(class="ProgressBar__base")
      div(class="ProgressBar__progress")
    p(class="ProgressBox__text")
  div(class="js-email email is-inactive")
    div(class="email__head")
      p From: ky-su-phan-mem@bestfit.com
      p Subject: Thuật toán đã sẵn sàng!
    p(class="email__paragraph")
      span Thuật toán của chúng ta đã được huấn luyện. Công việc của bạn giờ đã được tự động hóa, hãy tận hưởng nhé!
    div(class="email__response")
      +button('Tuyệt vời.')(class="js-training-stage-btn responseButton")
    
