extends ./layout/layout-default.pug

block content
    section.about-section.text-center
        .container
            .row
                .col-lg-9.mx-auto
                    h1 Về chúng tôi
                    img.img-fluid.img-asset(src='./img-website/cv-asset.png')

                    .cute-box
                        h2 Nhóm phát triển
                        img.img-fluid.group-picture(src='./img-website/thebestteam.jpeg')
                        p.img-caption (Gabor, Alia, Jihyun and Miha during their April 2019 meetup in Abu Dhabi)

                        p
                            | Survival of the Best Fit được xây dựng bởi 
                            a(href='http://gaborcsapo.com/') Gabor Csapo
                            | , 
                            a(href='https://jihjihk.herokuapp.com/') Jihyun Kim
                            | , 
                            a(href='https://www.mklasinc.com/') Miha Klasinc
                            | , và 
                            a(href='https://www.aelkattan.com/about') Alia ElKattan
                            | . Chúng tôi là những kỹ sư phần mềm, nhà thiết kế và kỹ thuật viên, ủng hộ việc tạo ra những phần mềm tốt lành cho phép công chúng đặt câu hỏi về tác động của nó đối với xã hội.
                        p
                            | Coming from 4 different countries (Hungary, Egypt, Korea and Slovenia) and living in 4 others (UK, UAE, Singapore and Sweden),
                            | we are alumni/student of 
                            a(href="https://nyuad.nyu.edu/en/") NYU Abu Dhabi
                            |, where we met in a class called 
                            a(href="https://github.com/periode/politics-of-code") Politics of Code
                            |  that completely changed the way we view and question technology.
                        p
                            | Với trò chơi này, chúng tôi muốn tiếp cận một đối tượng khán giả có thể không phải là những người tạo ra công nghệ tác động đến họ hàng ngày. Chúng tôi muốn giúp họ hiểu rõ hơn về cách AI hoạt động và nó có thể ảnh hưởng đến họ như thế nào, để họ có thể đòi hỏi sự minh bạch và trách nhiệm giải trình tốt hơn trong các hệ thống đang ngày càng đưa ra nhiều quyết định thay cho chúng ta.
                    img.img-fluid.img-asset(src='./img-website/people-asset.png')
                    .cute-box
                        h2 Lời Cảm Ơn
                        p
                            | This project, and our advocacy at large, could not have happened without the trust and help of many.
                        p
                            | We would like to thank 
                            a(href="https://foundation.mozilla.org/en/") Mozilla Foundation
                            |, Brett and Jenn for having faith in us to deliver a message. 
                            a(href="https://nyuad.nyu.edu") NYU Abu Dhabi 
                            | and the 
                            a(href="https://nyuad.im") Interactive Media department 
                            | for giving us the formative education that made us who we are today. Craig and Pierre for opening this door for us in the first place. 
                            a(href="https://www.behance.net/shenukacorea") Shenuka 
                            |  for doing awesome animation for us and 
                            a(href="https://www.kohterai.com/#/") Koh
                            |  for the beautiful web design and continuous feedback!
                        p
                            | And everyone else who gave us feedback at every step, shared our project, sponsored coffee and made the 
                            a(href="https://goo.gl/maps/Lq7AMPtLwN9rLuiG8") best knafeh
                            |  that fueled our late nights - thank you for supporting us in this step towards advocating for better technology for all.
